@font-face {
    font-family: 'Bellota Text';
    src: url('../fonts/BellotaText-Regular.woff2') format('woff2'),
        url('../fonts/BellotaText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bonheur Royale';
    src: url('../fonts/BonheurRoyale-Regular.woff2') format('woff2'),
        url('../fonts/BonheurRoyale-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

